.btn{
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #061475 ;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}
.btn:hover{
    background-color: #112caf;
    border-color:#5cebdf;
    color: #5cebdf;
}