.forms {
    width: 100%;
    padding: 60px 0;
}

.login,
.signUp {
    border: 1px solid #262a2e;
    background-color: #151a1e;
    max-width: 550px;
    width: 100%;
    margin: auto;
    padding: 25px 30px;
    border-radius: 20px;
}

.login,
.signUp {
    .welcome_msg {
        color: #777;
        font-size: 16px;
        font-weight: 400;
    }
}

.loginControl {
    padding: 15px 0;

    button {
        font-weight: 600;
        transition: 0.3s;
    }
}

h3 {
    font-size: 30px;
}

label {
    font-weight: 500;
}

.loginInput {
    max-width: 525px;
    width: 100%;
    margin-top: 5px;

    input {
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 500;
        width: 100%;
        height: 45px !important;
        padding: 10px 10px;
        border-radius: 5px;
        border: 2px solid transparent;
    }
}

.errorMsg {
    color: red;
    padding-top: 10px;
}

.link {
    text-decoration: none;
    color: blue;
}

.wrapControl {
    display: flex;
    justify-content: space-between;
    max-width: 525px;
}

.updateControl {
    max-width: 200px !important;
}

.sBtn {
    padding: 7px 15px;
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}

.checkUser {
    color: blue;
}