@import "../mixin";

header {
    @include max_width;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 4px -1px #32383e;
    padding: 15px 0;
    border: 1px solid #262a2e;
    background-color: #151a1e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}